/* styles/global.css */


@font-face {
    font-family: 'ElegantIcons';
    src: url('/libs/OE_Theme/libs/fonts/elegant_font/HTML_CSS/fonts/ElegantIcons.eot');
    src: url('/libs/OE_Theme/libs/fonts/elegant_font/HTML_CSS/fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
         url('/libs/OE_Theme/libs/fonts/elegant_font/HTML_CSS/fonts/ElegantIcons.woff') format('woff'),
         url('/libs/OE_Theme/libs/fonts/elegant_font/HTML_CSS/fonts/ElegantIcons.ttf') format('truetype'),
         url('/libs/OE_Theme/libs/fonts/elegant_font/HTML_CSS/fonts/ElegantIcons.svg#ElegantIcons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: 'FontAwesome';
    src: url('/libs/OE_Theme/libs/fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.eot');
    src: url('/libs/OE_Theme/libs/fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('/libs/OE_Theme/libs/fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'),
         url('/libs/OE_Theme/libs/fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.woff') format('woff'),
         url('/libs/OE_Theme/libs/fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }